name: Build and Test
on: [push]
permissions:
  contents: read

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Perform npm tasks
        run: npm run ci
